.icon-appbarweatherchance { background-image: url(png/appbarweatherchance.png); background-repeat: no-repeat; }

.icon-appbarweatherovercast { background-image: url(png/appbarweatherovercast.png); background-repeat: no-repeat; }

.icon-appbarweatherrain { background-image: url(png/appbarweatherrain.png); background-repeat: no-repeat; }

.icon-appbarweathersnow { background-image: url(png/appbarweathersnow.png); background-repeat: no-repeat; }

.icon-appbarweatherthunder { background-image: url(png/appbarweatherthunder.png); background-repeat: no-repeat; }

.icon-appbaryoutube { background-image: url(png/appbaryoutube.png); background-repeat: no-repeat; }